$font-stack: Alata;

body {
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  margin: 2% 2%;

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }

  main {
    section {
      max-width: 800px;
      margin: 2% auto;

      #results_section {
        display: none;
      }

      #results {
        width: 100%;
      }

      table {
        margin-top: 2%;
        width: 100%;
        table-layout: fixed;

        th {
          height: 30px;
          text-align: left;
          font-weight: bold;
        }

        th,
        td {
          padding: 5px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
      }

      #trips {
        display: none;
      }

      #picture_section {
        display: none;
      }

      #picture {
        min-height: 200px;
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
      }

      #print_section {
        display: none;
        #print_container {
          .print:hover {
            opacity: 80%;
            cursor: pointer;
          }

          .print {
            border: none;
            background-color: #7fc94c;
            height: 40px;
            color: white;
            width: 100%;
            font: inherit;
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  body {
    main {
      section {
        #picture {
          min-height: 300px;
        }
      }
    }
  }
}
