form {
  border-radius: 3px;
  margin-top: 3%;

  input {
    padding: 5px 10px;
    width: 100%;
    margin: 10px 0;
    font: inherit;
    line-height: 25px;
  }

  #submit:hover {
    opacity: 80%;
    cursor: pointer;
  }

  #submit {
    border: none;
    background-color: #00ccaa;
    height: 40px;
    color: white;
  }

  #date {
    line-height: 25px;
    font-family: "Open Sans";
    margin: auto;
  }

  #name {
    font-family: "Open Sans";
  }
}
